	<ion-header-bar class="hederbackgrod">
	</ion-header-bar>
	<ion-content class="bg-1">
		<div class="form-actuzal-group" style=" margin-top: 40px;">
			<label class="item item-input" style="border-color: rgba(0, 0, 0, 0) !important; background-color: rgba(0, 0, 0, 0) !important; margin-top:50px; margin-left: 5% !important; margin-right: 10px !important; margin-top: 10px !important;">
				<input type="text" ng-model="formPerfil.nombre" class="borderinput actualizar-input " style="display: inline-block !important;" placeholder="Empresa donde labora">
			</label>
			<label class="item item-input" style="border-color: rgba(0, 0, 0, 0) !important; background-color: rgba(0, 0, 0, 0) !important; margin-top:10px; margin-left: 5% !important; margin-right: 10px !important; margin-top: 10px !important;">
				<input type="password" ng-model="formPerfil.contrasena"  class="borderinput actualizar-input " style="display: inline-block !important;" placeholder="Nueva contraseña" >
			</label>
			<label class="item item-input" style="border-color: rgba(0, 0, 0, 0) !important; background-color: rgba(0, 0, 0, 0) !important; margin-top:10px; margin-left: 5% !important; margin-right: 10px !important; margin-top: 10px !important;">
				<input type="password" ng-model="formPerfil.contrasena1"  class="borderinput actualizar-input" style="display: inline-block !important;" placeholder="Confirmar nueva contraseña" >		
			</label>
		</div>
		<div class="form-login-group" style=" display: table; text-align: center; width: 100%; margin-top: 5%; ">
			<button class="button  button-home button-buttomperfil"  ng-click="Actualizar()" style=" width: 50%; "> Actualizar </button>
		</div>
		<div class="form-login-group" style=" display: table; text-align: center; width: 100%; margin-top: 5%; ">
			<button class="button  button-home button-buttomperfil"  ng-click="cerrar()" style=" width: 50%; "> Cerrar Sesion </button>
		</div>
		<div class="form-login-group" style=" display: table; text-align: center; width: 100%; margin-top: 5%; ">
			<h6 ng-click="mostrarapi()">Version 1.3 17/07/2017 BucaCompras</h6>
			<h6 ng-show="api == true">{{$storage.domin}}</h6>
			<h6 ng-show="api == true">{{$storage.imagenes}}</h6>

		</div>
	</ion-content>